body{
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.icons {
    
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
}