body{
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.navbar{
    background-image: linear-gradient(to right, rgba(84, 19, 135, 1) , rgba(199, 77, 242, 1));
}

a{
    text-decoration:none
}