.titulo-nosotros {
  background: rgb(2, 172, 152);
  background: linear-gradient(
    230deg,
    rgba(2, 172, 152, 0.8562018557422969) 0%,
    rgba(131, 24, 199, 0.65172006302521) 62%,
    rgba(203, 0, 255, 0.7469581582633054) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin-bottom: 650px; */
  margin-top: 60px;
}
.encabezado{
    background: linear-gradient(
      230deg,
      rgba(131, 24, 199, 0.65172006302521) 62%,
      rgba(203, 0, 255, 0.7469581582633054) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rectangulo1 {
  /* position: relative; */
  padding: 10% auto 10% auto;
  width: 618px;
  height: 190px;
  left: 50px;
  top: 200px;
  background: #ffffff;
  border-radius: 17px;
  display: inline-flex;
}
.rectangulo2 {
  /* position: absolute; */
  width: 326px;
  height: 210px;
  left: 900px;
  top: 361px;
  background: #ffffff;
  border-radius: 17px;
}
.rectangulo3 {
  /* position: absolute; */
  width: 402px;
  height: 170px;
  left: 600px;
  top: 609px;
  background: #ffffff;
  border-radius: 34px;
}
.img1 {
  /* position: absolute; */
  width: 220px;
  height: 210px;
  left: 675px;
  top: 361px;
  border-radius: 22px;
}
.img2 {
  /* position: absolute; */
  width: 315px;
  height: 265px;
  left: 280px;
  top: 513px;
  border-radius: 20px;
}
h3 {
  margin-bottom: 0;
}

